﻿<div id="wrapper" class="active">
	<script src="../scripts/controls/menu.js"></script>
	<link rel="stylesheet" href="../css/controls/menu.css" />

	<div id="sidebar-wrapper">
		<ul id="sidebar_menu" class="sidebar-nav">
			<li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
		</ul>
		<ul class="sidebar-nav" id="sidebar">
			<li><a href="../Pages/myAccount.html">Account<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
			<li><a>Gallery<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
			<li><a>Battle !<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
			<li><a>Tasks<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
			<li><a id="logoutBtn">Exit<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
		</ul>
	</div>
</div>